# dependencies
node_modules/

.turbo
*.log
.next
dist
dist-ssr
*.local
.cache
server/dist
public/dist


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.temp
yarn.lock
package-lock.json

#test
coverage


# macOS
.DS_Store
*.
# macOS
.DS_Store
*.pem

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*


#tanstack
.tanstack


# generated native folders
ios/
android/
