.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.cache
server/dist
public/dist


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.temp
yarn.lock
package-lock.json
