@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
  text-autospace: normal;
}

html {
  overflow-x: hidden;
  color: rgb(var(--base-text-color));
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

.ant-table-header::-webkit-scrollbar {
  background-color: transparent;
}

html.grayscale {
  filter: grayscale(100%);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
